# Node
node_modules
npm-debug.log
yarn-error.log

# Hardhat
artifacts
cache
typechain-types
coverage
coverage.json

# Environment
.env
.env.*

# Frontend
frontend/node_modules
frontend/dist
frontend/build
frontend/.next
frontend/.output
frontend/.nuxt
frontend/.svelte-kit

# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/

